page-search {
  .left-float {
    position: relative;
    left: 0;
  }

  .center-width {
    width: 50%;
    margin: auto;
  }

  .results_title {
    display: inline-block;
    position: relative;
    top: -30px;
  }

  .red {
    color: red;
  }
}
